<div class="topic-index-wrapper">
  <div class="topic-index-search">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont %>
      <%= f.submit %>
    <% end %>
  </div>
 <% #binding.pry %>
  <div class="topic-index-choice">
    <p><%= link_to "新しい順",topics_path(:order_param => "new") %></p>
    <p><%= link_to "古い順",topics_path(:order_param => "old") %></p>
    <p><%= link_to "いいねの多い順",topics_path(:order_param => "favorite") %></p>
  </div>
  <div class="container">
    <% #binding.pry %>
    <% @topics.each do |topic| %>
      <div class="row">

        <div class="col-md-6 col-md-offset-3">
          <% if topic.user.image? %>
            <%= image_tag topic.user.image.thumb.url, class: "user-icon" %>
          <% else %>
            <%= image_tag "bg-top.png", alt: "user-icon", size: "200", class: "user-icon" %>
          <% end %>
          <%= topic.user.try(:name) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
          <% #binding.pry  %>
            <div class="topic_title">
              <%= topic. title %>
            </div>
            <%= image_tag topic.image.url %>
            <% #binding.pry %>
              <p class="topic-text">
                <%= topic.description %>
              </p>
              <% if !topic.favorite_users.include?(current_user) %>
                <%= link_to favorites_path(topic_id: topic.id),method: :post do %>
                  <i class="far fa-heart like-btn"></i>
                <% end %>
              <% else %>
                <%= link_to favorites_path(topic_id: topic.id),method: :delete do %>
                <i class="fas fa-heart unlike-btn"></i>
                <% end %>
              <% end %>
              <%= topic.favorite_users.count %>
              <%= link_to comments_index_path(topic_id: topic.id) do %>
                <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
              <% end %>
              <p class="mt-5"> Comment </p>
                <% #binding.pry %>
              <% Comment.where(topic_id: topic.id).page(params[:page]).per(2).each do |c| %>
                <div class="comment-text">
                <% #binding.pry %>
                  <p><%= c.user.name %></p>
                  <p><%= c.content %></p>
                </div>
              <% end %>
              <% #binding.pry %>
              <%= paginate Comment.where(topic_id: topic.id).page(params[:page]) %>

              </div>
              <div class="comment-wrapper border-top md-10">
              <% #binding.pry %>
                <%= form_for @comment do |f| %>
                  <div class="form-group">
                    <%= f.text_area :content %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :topic_id, value:topic.id %>
                    <%= f.hidden_field :name, value:current_user.name %>
                  </div>
                  <%= f.submit 'コメントする', class: 'btn btn-black btn-block' %>
                <% end %>
              </div>

          </div>
        <% end %>
      </div>
</div>
