<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center text-white">Add Picture</h1>
        

        <% #binding.pry %>
        <%= form_for @topic do |f| %>
          <div class="form-group">
            <%= f.label :image, class: "text-white" %>
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :title, class: "text-white" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description, class: "text-white" %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <% if logged_in? %>
          <%= f.submit '投稿', class: 'btn btn-white btn-block' %>
          <% end %>
        <% end %>

      </div>

    </div>

  </div>

</div>
